videos
/isaacgymenvs/logs
*train_dir*
*wandb*
*ige_logs*
*.egg-info
/.vs
/.vscode
/_package
/shaders
._tmptext.txt
__pycache__/
/isaacgymenvs/tasks/__pycache__
/isaacgymenvs/utils/__pycache__
/isaacgymenvs/tasks/base/__pycache__
/tools/format/.lastrun
*.pyc
_doxygen
/rlisaacgymenvsgpu/logs
/isaacgymenvs/benchmarks/results
/isaacgymenvs/simpletests/results
*.pxd2
/tests/logs
/isaacgymenvs/balance_bot.xml
/isaacgymenvs/quadcopter.xml
/isaacgymenvs/ingenuity.xml
logs*
nn/
runs/
.idea
outputs/
*.hydra*
/isaacgymenvs/wandb
*.sif
isaacgymenvs/IsaacGym_Preview_4_Package.tar.gz
isaacgymenvs/sandbox_taskmaster/
isaacgymenvs/build-temp-*
*.pth
*events.out.tfevents.*
isaacgymenvs/pabrtxl1
isaacgymenvs/rsync.exp
isaacgymenvs/taskmaster5.def
isaacgymenvs/run_*.sh
isaacgymenvs/qscaled/data/*
*__MACOSX*